<div id="<%= dom_id ticket %>">
  <p>
    <strong>Label:</strong>
    <%= ticket.label %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= ticket.description %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= ticket.color %>
  </p>

  <p>
    <strong>Archived:</strong>
    <%= ticket.archived %>
  </p>

  <p>
    <strong>Datearchived:</strong>
    <%= ticket.datearchived %>
  </p>

  <p>
    <strong>Duedate:</strong>
    <%= ticket.duedate %>
  </p>

</div>
